.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 20px 50px 5px hsl(0, 15%, 25%);
    max-width: 650px;
    background: transparent;
    box-sizing: border-box;
    flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
  margin-left: 200px;
  }

  .order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    
    color:cornsilk
  
  }


.form-label,
.form-check-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border:none;
    outline: none;
    color: blue;

  }

  .btn-submit:hover {
    background-color: #0D47A1 !important;
  }
  h1{
    color:lightsteelblue
  }
  placeholder{
    color:rgb(235, 233, 233)
  }
  .background {
    display: flex;
    min-height: 100vh;
    background-image: url('../../../assets/images/orderform.webp')
  }
   button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 150px;
    /* margin: 0 40px 0 16px; */
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #04664b;
    cursor: pointer;
    outline: none;
    margin-right:70px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
   button:hover {
    background-color: #79b0a1;
  }
  .order-form-input.placeholder{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.st{
    color: gold;
    font-size: 25px;
}
.btn2{
  float: right;
    display: inline-block;
    height: 50px;
    width: 150px;
    /* margin: 0 40px 0 16px; */
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #30b104;
    cursor: pointer;
    outline: none;
    margin-right:70px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.btn2:hover{
  background-color: #288508;
}