<body style="background-image:url('../../../assets/images/signup.jpg');">
    <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="username">
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="password">
					<button (click)="register()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="password">
					<button (click)="login()">Login</button>
					<a style="color:red;margin-top: 20px;margin-left: 70px;"href='/forgotpassword'>Forgot Password?</a>
				</form>
			</div><br><br>
	</div>  
</body>