<body style="background-image:url('../../../assets/images/forgot.webp');">
    <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Reset Password</label>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="email">
					
					<button (click)="forgotPassword()" >Send Link</button>
                    <!-- <a style="color:rgb(0, 26, 255);margin-top: 20px;margin-left: 70px;"href='/signup'>Back to Login</a> -->
				</form>
			</div>
            </div>
</body>            
