<div class="about-section">
    <h1>About Us </h1>
    <p>Welcome to our online motorbike store! We are a team of dedicated riders who are passionate about all things motorcycles. Our mission is to provide the best selection of high-quality motorbikes and accessories to motorcycle enthusiasts across the globe.

        Our company was founded in <i><b>2023</b></i> by <i><b>SARATH KUMAR U P</b></i>, who started out as a small independent motorcycle mechanic in <i><b>PATAHANAMTHITTA</b></i>. As the business grew, we expanded our offerings to include new and used motorcycles, as well as a wide range of motorcycle accessories and gear.
        
        At our online motorbike store, we believe in providing our customers with an exceptional shopping experience. Our website is designed to be user-friendly, with a simple and intuitive interface that makes it easy to find the products you need. We offer a wide range of motorbikes from the leading brands in the industry, including [brands]. We also carry a wide range of accessories and gear, including helmets, jackets, gloves, boots, and more.
        
        We take great pride in our customer service, and our knowledgeable staff is always available to answer any questions you may have about our products or services. We are committed to providing our customers with the best possible experience, and we strive to exceed your expectations at every turn.
        
        Thank you for choosing our online motorbike store, and we look forward to serving all of your motorbike needs!</p>
    
  </div>
  
  <h2 style="text-align:center"><b>Our Services</b></h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/about1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Repair</h2>
          <p class="title"></p>
          <p>Motorbike repair is the process of fixing or restoring a motorcycle that is not functioning properly. This can involve diagnosing and fixing issues with the engine, transmission, suspension, brakes, electrical system, and other components. A skilled motorcycle mechanic will use a combination of tools, equipment, and specialized knowledge to diagnose and repair any problems with the motorbike. Proper maintenance and repairs are crucial to keep the motorbike running safely and smoothly. Regular servicing and repairs can help extend the life of the motorbike and ensure a safe and enjoyable riding experience.</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/about3.jpg" alt="Mike" style="width:100% ;height: 320px; ;">
        <div class="container">
          <h2>Spare Parts</h2>
          <p class="title"></p>
          <p>Motorbike spare parts are components and accessories that can be used to repair, upgrade or maintain a motorcycle. These parts can range from small nuts and bolts to larger components such as engines, transmissions, brakes, and suspension systems. Spare parts are designed to be compatible with specific models and brands of motorcycles, and can be either original equipment manufacturer (OEM) parts or aftermarket parts made by third-party manufacturers. Some common motorbike spare parts include air filters, spark plugs, tires, brake pads, chains, sprockets, and batteries. Proper selection and installation of spare parts is important to ensure the safety and optimal performance of the motorcycle.</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/about2.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Sales</h2>
          <p class="title"></p>
         <p>Motorbike sales involve the buying and selling of motorcycles, either new or used. This process can take place through various channels, such as dealerships, private sellers, and online platforms. A typical motorbike sale involves the negotiation of a price, completion of necessary paperwork, and transfer of ownership from the seller to the buyer. When buying a motorbike, customers may choose from a range of brands, models, and features, and may also have the option to purchase additional accessories and services. Motorbike sales are important to the industry and the economy as a whole, providing employment opportunities and contributing to the transportation needs of individuals and businesses.</p>
          
        </div>
      </div>
    </div>
  </div>