
  
 <body>
    <div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="waviy">
            <span style="--i:1">W</span>
            <span style="--i:2">E</span>
            <span style="--i:3">L</span>
            <span style="--i:4">C</span>
            <span style="--i:5">O</span>
            <span style="--i:6">M</span>
            <span style="--i:7">E</span>&nbsp;<br>
            <span style="--i:8">T</span>
            <span style="--i:9">O</span><br>
            <span style="--i:11">B</span>
            <span style="--i:12">I</span>
            <span style="--i:13">K</span>
            <span style="--i:14">E</span>
            <span style="--i:15">W</span>
            <span style="--i:16">O</span>
            <span style="--i:18">R</span>
            <span style="--i:19">L</span>
            <span style="--i:20">D</span><br>
            <span style="--i:21">F</span>
            <span style="--i:22">I</span>
            <span style="--i:23">N</span>
            <span style="--i:24">D</span>&nbsp;
            <span style="--i:25">Y</span>
            <span style="--i:26">O</span>
            <span style="--i:27">U</span>
            <span style="--i:28">R</span>&nbsp;<br>
            <span style="--i:29">T</span>
            <span style="--i:30">R</span>
            <span style="--i:31">A</span>
            <span style="--i:32">V</span>
            <span style="--i:33">E</span>
            <span style="--i:34">L</span>&nbsp;
            <span style="--i:35">P</span>
            <span style="--i:36">A</span>
            <span style="--i:37">R</span>
            <span style="--i:38">T</span>
            <span style="--i:39">N</span>
            <span style="--i:40">E</span>
            <span style="--i:41">R</span>
            <span style="--i:43"></span>


           </div>
    </div>
  </div> 
</div>
</body>